<input [formControl]="searchTerm"  /><br/>
<table class="table table-striped" *ngIf=results$>
    <thead>
        <tr>
            <th *ngFor="let i of headers">
                {{i.val}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of results$ | async">
            <td *ngFor="let i of headers">
                <ngb-highlight [result]="row[i.key]" 
                    [term]="term"></ngb-highlight> 
             </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="50">50 items per page</option>
        <option [ngValue]="null">All items per page</option>
    </select>
  </div>

