<input [formControl]="searchTerm"  /><br/>
<table class="table table-striped" *ngIf=results$>
    <thead>
        <tr>
            <th *ngFor="let i of headers" (click)="sortBy(i.key, $event)">
                {{i.val}}
                <ng-container *ngIf="getSortByKey(i.key)">
                    {{getSortByKey(i.key) | json}}
                </ng-container> 
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of results$ | async">
            <td *ngFor="let i of headers">
                <ng-container *ngIf="i.action">
                    <a (click)="i.action(row)">
                        <ngb-highlight *ngIf="isDate(row[i.key])" [result]="toDate(row[i.key])"
                        [term]="term"></ngb-highlight> 
                        <ngb-highlight *ngIf="!isDate(row[i.key])" [result]="row[i.key]" 
                        [term]="term"></ngb-highlight> 
                    </a>

                </ng-container>
                <ng-container *ngIf="!i.action">
                    <ngb-highlight *ngIf="isDate(row[i.key])" [result]="toDate(row[i.key])" 
                        [term]="term"></ngb-highlight> 
                    <ngb-highlight *ngIf="!isDate(row[i.key])" [result]="row[i.key]" 
                        [term]="term"></ngb-highlight> 
                </ng-container>
              </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="changePageSize($event)">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (change)="changePageSize($event)">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="50">50 items per page</option>
        <option [ngValue]="null">All items per page</option>
    </select>
  </div>

